.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 35px;
  background: #0038a8;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-right {
  position: relative;
}

.menu-btn {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background: #0047cc;
    padding: 15px 20px;
    border-radius: 8px;
  }

  .nav-links.show {
    display: flex;
  }
}
